/* 
bg  = background
bgd = background color 
fgc = forgound color
txt = text
*/
$bg-odd:  #9E9E9E;
$bg-even: #607D8B;

$time-home-bgd: #000000;
$time-home-bgl: #000000;
$time-home-fgc: #9E9E9E;
$time-home-txt: #FFFFFF;

$time-8692-bgd: #3F51B5;
$time-8692-bgl: #2196F3;
$time-8692-fgc: #03A9F4;
$time-8692-txt: #FFFFFF;

$time-9398-bgd: #4CAF50;
$time-9398-bgl: #8BC34A;
$time-9398-fgc: #CDDC39;
$time-9398-txt: #FFFFFF;

/*
$time--bgd: #;
$time--fgc: #;
$time--txt: #;
*/

.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0px;
}

.modal-content {
  height: 100%;
  border-radius: 0;
}

@mixin time-default-style($time, $bgd, $bgl, $fgc, $txt){
	background-color: $bgl;
	color: $txt;
	&.main-point{
		&::before{
			background-color: $bgd;
		}
		.point-mark>div{
			background-color: $bgd;
			color: $txt;
		}
		p{
			color: $txt;
		}
	}

	/* sub page style */
	&+.time-#{$time}{
		background-color: $bgd;

		&::before,
		.point-mark>div{
			background-color: lighten($fgc,20%);
			color: darken($txt,100%);
		}
		.half>div:nth-child(odd){
			background-color: $bgl;
		}
	}
	@content;
}



body{
	background-color: $background-color;
	color: $forgound-color;
}
.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
}

.vertical-line{
	@include vertical-line($background-color);
}

.sections{
	height: 100%;

	.section{
		position: relative;
		min-height: 100%;
		background-color: $bg-odd;
		border-bottom: dashed 1px;

		&:nth-child(even){
			background-color: $bg-even;
		}

		&.point,
		&.main-point{
			@include vertical-line(#000);

			.overlay{
				width: 100%;
				position: relative;
			}
			.point-mark{
				display: inline-block;
				border-radius: 50%;
				position: absolute;
				top: 75px;
				left: 8px;
				z-index: 2;

				> div{
					font-size: 12px;
					width: 50px;
					height: 50px;
					border-radius: 50%;
					background-color: #fff;
					color: #000;
					@include body-font();
					@include shadow(2, box);
					@include flex();
					@include flex-direction(row);
					@include flex-center();
					@include transition(all .1s ease-in-out);
				}
			}
		}
		&.main-point{
			height: 100%;
			background-image: none;
			.overlay{
				height: 100%;
				background-color: rgba(0,0,0,0.15);
				@include flex();
				@include flex-direction(column);
				@include flex-center();
			}
			.point-mark{
				position: initial;
				order: 1;
				div{
					font-size: 25px;
					width: 150px;
					height: 150px;
				}
			}
			.title{
				@include heading-font();
				font-size: 28px;
				color: #fff;
				text-align: center;
				margin: 0 auto;
				padding: 30px;
				order: 2;
				z-index: 2;
			}
		}
		
		.half{
		  width: 100%;
		  img{
		  	width: 100%;
		  }
		  > div:nth-child(odd){
		  	display: none;
		  }
		  > div:nth-child(even){
		  	padding: 30px 65px;
		  }
		}

		.info{
			text-align: center;
			h3.title{
				@include heading-font();
				font-size: 22px;
				margin: 0 auto 20px;
				padding: 0;
			}
			.desc{
				@include body-font();
				font-size: 20px;
				margin-bottom: 10px;
				padding: 0px;
				@include transition(all .1s ease-in-out);
			}
			.modal-link.video{
				position: relative;
				cursor: pointer;
				outline: none;
				display: block;
				img {
					display: block;
				}
				&:after, &:before {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					@include transition(all .1s ease-in-out);
				}
				&:before {
					width: 60px;
					height: 60px;
					margin: (-60px/2) 0 0 (-60px/2);
					border: 3px solid #fff;
					border-radius: 50%;
					background: rgba(#000, 0.42);
					@include shadow(2, box);
				}
				&:after {
					border: 15px solid transparent;
					border-left: 18px solid #fff;
					margin-top: -15px;
					margin-left: -6px;
					@include shadow(2, box);
				}
				&:hover {
					&:after, &:before {
						@include css3(transform, scale(1.03, 1.03));
					}
					&:before {
						background: rgba(#000, 0.7);
					}
				}
			}
		}

		.quotes{
			text-align: center;
			@include transition(all .3s ease-in-out);
			@include flex();
			@include flex-direction(row);
			@include flex-wrap(wrap);

			.quote{
				@include serif-font();
				font-size: 24px;
				line-height: 34px;
				margin: 0;
				padding: 0;
				order: 1;
				flex: 1 100%;

				&::before,
				&::after{
				  color: #fff;
				  font-size: 3.5em;
				  line-height: 0.1em;
				}

				&::before{
				  content: open-quote;
				  margin-right: 0.20em;
				  vertical-align: -0.3em;
				}
				&::after{
				  content: close-quote;
				  margin-left: 0.20em;
				  vertical-align: -0.6em;
				}
			}
			.author-img{
				width: 75px;
				height: 75px;
				order: 2;
				flex: 1 auto;

				img{
					width: 75px;
					height: 75px;
					border-radius: 50%;
					border: 2px solid #fff;
					@include shadow(2, box);
				}
			}
			.by-who{
				@include body-font();
				font-size: 16px;
				order: 2;
				flex: 1 auto;
			}
		}

		/* Home page style */
		&.time-home{
			background: $time-home-bgd url() no-repeat center center fixed;
			color: $time-home-txt;
			height: 100%;
			.overlay{
				background-color: rgba(0,0,0,0.5);
			}
			.logo{
				width: 70%;
				max-width: 1200px;
				max-height: 500px;
				margin: 0 auto;
			}
			p{
				font-size: 40px;
				@include heading-font();
				margin: 0;
			}
			&::before{
				display: none;
			}
		}
		/* 1986-1992 home page style */
		&.time-8692{
			@include time-default-style(8692, $time-8692-bgd, $time-8692-bgl, $time-8692-fgc, $time-8692-txt);
		}

		/* 1993-1998 home page style */
		&.time-9398{
			@include time-default-style(9398, $time-9398-bgd, $time-9398-bgl, $time-9398-fgc, $time-9398-txt);
		}
	}

	@include MQ(md){
		.section{
			min-height: initial;
			height: 100%;
			&.point,
			&.main-point{
				.overlay{
					height: 100%;
					@include flex();
					@include flex-direction(column);
				  @include flex-center();
				}
				.point-mark{
					top: 50%;
					left: 50%;
					width: 80px;
					width: 80px;
					margin: (-80px/2) 0 0 (-80px/2);
					div{
						width: 80px;
						height: 80px;
						font-size: 20px;

						&:hover{
							@include shadow(4, box);
							@include css3(transform, scale(1.03, 1.03));
						}
						&:active{
							@include shadow(1, box);
							@include css3(transform, scale(0.90, 0.90));
						}
					}
				}
			}
			&.main-point{
				.overlay{
					background-color: rgba(0,0,0,0.3);
				}
				.point-mark{
					position: initial;
					width: 300px;
					height: 300px;
					margin: 0;
					div{
						width: 300px;
						height: 300px;
						font-size: 50px;
					}
					.title{
						font-size: 35px;
					}
				}
			}
			.half{
				@include flex();
				@include flex-direction(row);
			  @include flex-center();
			  overflow: hidden;
			  height: 100%;
			  >div{
			  	overflow: hidden;
			  	flex: 1 auto;
				  padding-top: 51px;
			  	width: 50%;
			  	height: 100%;
			  	@include flex();
			  	@include flex-direction(column);
			  	@include flex-center();
			  	&.cover-bg{
			  		@include background-cover();
			  		background-position: center center;

			  		img{
				  		display: none;
				  	}
			  	}
			  }
			  > div:nth-child(odd){
			  	display: inherit;
			  }
			  > div:nth-child(even){
			  	padding: 0px 45px 20px;
			  }
			}

			&.point+.point:nth-child(even){
				.half{
					>div:nth-child(odd){
						order: 2;
					}
					>div:nth-child(even){
						order: 1;
					}
				}
			}
			.info{
				p.desc{
					font-size: 24px;
				}
			}
			.quotes{
				.quote{
					order: 2;
				}
				.author-img{
					order: 1;
					width: 120px;
					height: 120px;
					margin-bottom: 30px;
					img{
						width: 120px;
						height: 120px;
					}
				}
				.by-who{
					order: 3;
				}
			}
			&.time-8692.main-point{
				&:before{
					height: 50%;
					top: 50%;
				}
			}
		}
	}
}