/* Timeline for Small device */
@include MQ(sm){
  body{
    font-size: 16px;
  }
  .onepage-pagination{
    display: none;
  }
  .sections{  
    .section{
      height: 100%;

      &:last-child{
        margin-bottom: 0px;
      }

      &.point,
      &.main-point{
        .overlay{
          height: 100%;
        }
      }

      &.main-point{
        .point-mark{
          div{
            @include size(120px);
          }
        }
      }

      .half{
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        overflow: hidden;
        height: 100%;
        >div{
          overflow: hidden;
          max-height: 100%;
          @include align-self(center);
          &.cover-bg{
            @include background-cover();
            background-position: center center;

            img{
              display: none;
            }
          }
          > div:nth-child(even){
            padding-bottom: 25px;
          }
        }
      }

      .quotes{
        .quote{
          font-size: 160%;
        }
      }

      .info{
        .media{
          .modal-link{
            display: block;
            &.video{
              width: 50%;
              margin: 0 auto;
            }
          }
          .embed{
            display: none !important;
          }
        }
        .image{
          @include size(50%);
          margin: 0 auto;
        }
      }

      /* Home page style */
      &.time-home{
        .logo{
          width: 70%;
        }
        #tagline{
          font-size: 220%;
        }
        #page-nav{
          display: flex;
        }
      }
    }
  }
  .footer{
    span.copyright{
      a{
        text-decoration: none;
      }
    }
    ul.social-buttons {
      display: block;
    }
  }
}