/*@import "compass";*/
/* 
bg  = background
bgd = background dark 
fgc = forgound color
txt = text
*/
/* Animation SCSS Mixin START */
/* Animation SCSS Mixin END */
/* line 2, scss/_reset.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 7, scss/_reset.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

/* line 11, scss/_reset.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

/* line 18, scss/_reset.scss */
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  color: #f1f1f1;
  background-color: #000000;
}

/* line 25, scss/_reset.scss */
a,
a:active,
a:hover,
a:focus,
a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* line 34, scss/_reset.scss */
img {
  max-width: 100%;
}

/* line 38, scss/_reset.scss */
p {
  font-size: 100%;
  line-height: 1.5;
}

/* line 43, scss/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 47, scss/_reset.scss */
h1, h2 {
  font-family: "Roboto Slab", "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 52, scss/_reset.scss */
.divider {
  padding: 1px;
  border-bottom: 1px #ddd dashed;
  margin: 40px auto;
  width: 30%;
}

/* line 59, scss/_reset.scss */
#pbs-menu .adbanner-container,
#pbs-adbanner-container-main-div {
  display: none !important;
}

/* line 65, scss/_reset.scss */
::-moz-selection {
  text-shadow: none;
  background: #aaaaaa;
}

/* line 70, scss/_reset.scss */
::selection {
  text-shadow: none;
  background: #aaaaaa;
}

/* line 75, scss/_reset.scss */
img::selection {
  background: transparent;
}

/* line 79, scss/_reset.scss */
img::-moz-selection {
  background: transparent;
}

/* line 83, scss/_reset.scss */
body {
  webkit-tap-highlight-color: #aaaaaa;
}

/* Ripple effect START */
/* line 89, scss/_reset.scss */
.ripple {
  overflow: hidden;
  position: relative;
}

/* line 94, scss/_reset.scss */
.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  -webkit-animation: ripple 2s;
  -moz-animation: ripple 2s;
  -ms-animation: ripple 2s;
  -o-animation: ripple 2s;
  animation: ripple 2s;
}

@-o-keyframes ripple {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    -webkit-transform: scale(80);
    -moz-transform: scale(80);
    -ms-transform: scale(80);
    -o-transform: scale(80);
    transform: scale(80);
    opacity: 0;
  }
}
@-moz-keyframes ripple {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    -webkit-transform: scale(80);
    -moz-transform: scale(80);
    -ms-transform: scale(80);
    -o-transform: scale(80);
    transform: scale(80);
    opacity: 0;
  }
}
@-webkit-keyframes ripple {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    -webkit-transform: scale(80);
    -moz-transform: scale(80);
    -ms-transform: scale(80);
    -o-transform: scale(80);
    transform: scale(80);
    opacity: 0;
  }
}
@-keyframes ripple {
  /* line 104, scss/_reset.scss */
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0.4;
  }

  /* line 108, scss/_reset.scss */
  to {
    -webkit-transform: scale(80);
    -moz-transform: scale(80);
    -ms-transform: scale(80);
    -o-transform: scale(80);
    transform: scale(80);
    opacity: 0;
  }
}
/* Ripple effect END */
/* line 116, scss/_reset.scss */
.embed {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
/* line 123, scss/_reset.scss */
.embed .embed-item,
.embed embed,
.embed iframe,
.embed object,
.embed video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 95%;
  height: 95%;
  border: 0;
}
/* line 138, scss/_reset.scss */
.embed.embed-16by9 {
  padding-bottom: 55%;
}
/* line 141, scss/_reset.scss */
.embed.embed-4by3 {
  padding-bottom: 75%;
}

/* line 1, scss/_nav.scss */
.main-navbar {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  min-height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -70px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}
/* line 13, scss/_nav.scss */
.main-navbar.show {
  margin-top: 0px;
}
/* line 17, scss/_nav.scss */
.main-navbar .container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
}
/* line 23, scss/_nav.scss */
.main-navbar .brand-header {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
}
/* line 28, scss/_nav.scss */
.main-navbar .brand-header .hamburger {
  width: 50px;
  height: 50px;
}
/* line 31, scss/_nav.scss */
.main-navbar .brand-header .hamburger label {
  position: relative;
  display: block;
  height: 100%;
  cursor: pointer;
  padding: 0px 15px;
  margin-bottom: 0;
  margin-top: -5px;
}
/* line 41, scss/_nav.scss */
.main-navbar .brand-header .hamburger span,
.main-navbar .brand-header .hamburger span:before,
.main-navbar .brand-header .hamburger span:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background: #fff;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-property: margin, -webkit-transform, background-color;
  -moz-transition-property: margin, -moz-transform, background-color;
  transition-property: margin, transform, background-color;
}
/* line 54, scss/_nav.scss */
.main-navbar .brand-header .hamburger span {
  -webkit-transition-duration: 0, 0, 0.5s;
  -moz-transition-duration: 0, 0, 0.5s;
  transition-duration: 0, 0, 0.5s;
  -webkit-transition-delay: 0.2s, 0, 0;
  -moz-transition-delay: 0.2s, 0, 0;
  transition-delay: 0.2s, 0, 0;
  -webkit-transform: translate3d(0%, 50%, 0);
  -moz-transform: translate3d(0%, 50%, 0);
  -ms-transform: translate3d(0%, 50%, 0);
  -o-transform: translate3d(0%, 50%, 0);
  transform: translate3d(0%, 50%, 0);
  top: 50%;
}
/* line 61, scss/_nav.scss */
.main-navbar .brand-header .hamburger span:before,
.main-navbar .brand-header .hamburger span:after {
  -webkit-transition-duration: 0.2s, 0.2s, 0.5s;
  -moz-transition-duration: 0.2s, 0.2s, 0.5s;
  transition-duration: 0.2s, 0.2s, 0.5s;
  -webkit-transition-delay: 0.2s, 0, 0;
  -moz-transition-delay: 0.2s, 0, 0;
  transition-delay: 0.2s, 0, 0;
  left: 0;
}
/* line 67, scss/_nav.scss */
.main-navbar .brand-header .hamburger span:before {
  margin-top: -8px;
}
/* line 71, scss/_nav.scss */
.main-navbar .brand-header .hamburger span:after {
  margin-top: 8px;
}
/* line 76, scss/_nav.scss */
.main-navbar .brand-header .brand {
  flex: 1 0 auto;
  margin-left: -50px;
  text-align: center;
}
/* line 80, scss/_nav.scss */
.main-navbar .brand-header .brand a {
  display: inline-block;
}
/* line 83, scss/_nav.scss */
.main-navbar .brand-header .brand img {
  height: 50px;
}
/* line 88, scss/_nav.scss */
.main-navbar .nav {
  -webkit-transition: margin-top 0.5s ease-in-out;
  -moz-transition: margin-top 0.5s ease-in-out;
  -ms-transition: margin-top 0.5s ease-in-out;
  -o-transition: margin-top 0.5s ease-in-out;
  transition: margin-top 0.5s ease-in-out;
  opacity: 0;
  margin-top: -100%;
}

/* line 96, scss/_nav.scss */
.disabled-onepage-scroll .main-navbar {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  margin-top: 0;
}

/* line 104, scss/_nav.scss */
#menu-toggle:checked + .main-navbar .hamburger span {
  background-color: transparent !important;
  -webkit-transition-delay: 0.2s, 0.2s, 0;
  -moz-transition-delay: 0.2s, 0.2s, 0;
  transition-delay: 0.2s, 0.2s, 0;
}
/* line 108, scss/_nav.scss */
#menu-toggle:checked + .main-navbar .hamburger span:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0, 0.2s;
  -moz-transition-delay: 0, 0.2s;
  transition-delay: 0, 0.2s;
}
/* line 113, scss/_nav.scss */
#menu-toggle:checked + .main-navbar .hamburger span:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-delay: 0, 0.2s;
  -moz-transition-delay: 0, 0.2s;
  transition-delay: 0, 0.2s;
}
/* line 120, scss/_nav.scss */
#menu-toggle:checked + .main-navbar .nav {
  opacity: 1;
  margin-top: 0;
}

/* line 127, scss/_nav.scss */
.pov-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  -o-flex-flow: column nowrap;
  flex-flow: column nowrap;
  justify-content: flex-end;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 141, scss/_nav.scss */
.pov-nav li {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  text-align: center;
}
/* line 147, scss/_nav.scss */
.pov-nav li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: normal;
  position: relative;
}
/* line 154, scss/_nav.scss */
.pov-nav li a:visited, .pov-nav li a:focus, .pov-nav li a:hover, .pov-nav li a:active {
  background-color: transparent;
}
/* line 161, scss/_nav.scss */
.pov-nav li.active a {
  background-color: #ffc107;
  color: #333;
}

@media (min-width: 768px) {
  /* line 170, scss/_nav.scss */
  .main-navbar .container {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
  }
  /* line 173, scss/_nav.scss */
  .main-navbar .brand-header {
    flex: 1 0 auto;
  }
  /* line 175, scss/_nav.scss */
  .main-navbar .brand-header .hamburger {
    display: none;
  }
  /* line 178, scss/_nav.scss */
  .main-navbar .brand-header .brand {
    flex: initial;
    margin-left: 0;
  }
  /* line 183, scss/_nav.scss */
  .main-navbar .nav {
    opacity: 1;
    margin-top: 0;
  }

  /* line 188, scss/_nav.scss */
  .pov-nav {
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    -o-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
}
/* line 192, scss/_nav.scss */
.pov-nav#page-nav a {
  display: block;
  padding: 10px 0px;
}

/* line 1, scss/_timeline-xs.scss */
.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* Overwirte the onepage pagination */
/* line 9, scss/_timeline-xs.scss */
.onepage-pagination {
  display: none;
}

/* line 13, scss/_timeline-xs.scss */
.sections {
  height: 100%;
  width: 100%;
  float: left;
  margin: 0 auto;
}
/* line 19, scss/_timeline-xs.scss */
.sections .section {
  position: relative;
  height: initial;
  /*border-bottom: dashed 1px;*/
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #111111;
  content: #FFFFFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Home page style */
}
/* line 32, scss/_timeline-xs.scss */
.sections .section:last-child {
  margin-bottom: 100px;
}
/* line 38, scss/_timeline-xs.scss */
.sections .section.point .vertical-line, .sections .section.main-point .vertical-line {
  position: absolute;
  left: 32px;
  top: 0px;
  height: 100%;
  width: 4px;
  background-color: #666666;
  z-index: 1;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}
/* line 49, scss/_timeline-xs.scss */
.sections .section.point .overlay, .sections .section.main-point .overlay {
  width: 100%;
  position: relative;
}
/* line 53, scss/_timeline-xs.scss */
.sections .section.point .point-mark, .sections .section.main-point .point-mark {
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 75px;
  left: 8px;
  z-index: 2;
}
/* line 61, scss/_timeline-xs.scss */
.sections .section.point .point-mark > div, .sections .section.main-point .point-mark > div {
  font-size: 95%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eeeeee;
  color: #333333;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 78, scss/_timeline-xs.scss */
.sections .section.main-point {
  background-image: none;
  height: 100%;
}
/* line 81, scss/_timeline-xs.scss */
.sections .section.main-point .overlay {
  height: 100%;
  padding: 90px 35px 35px;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}
/* line 90, scss/_timeline-xs.scss */
.sections .section.main-point .point-mark {
  position: initial;
  order: 1;
}
/* line 93, scss/_timeline-xs.scss */
.sections .section.main-point .point-mark div {
  font-size: 125%;
  height: 100px;
  width: 100px;
}
/* line 98, scss/_timeline-xs.scss */
.sections .section.main-point .title {
  font-family: "Roboto Slab", "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 150%;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0px;
  order: 2;
  z-index: 2;
}
/* line 111, scss/_timeline-xs.scss */
.sections .section.point .point-mark div {
  font-weight: bold;
}
/* line 116, scss/_timeline-xs.scss */
.sections .section.point:nth-child(odd) {
  background-color: #444444;
}
/* line 120, scss/_timeline-xs.scss */
.sections .section .half {
  width: 100%;
}
/* line 122, scss/_timeline-xs.scss */
.sections .section .half img {
  width: 100%;
}
/* line 125, scss/_timeline-xs.scss */
.sections .section .half > div:nth-child(odd) {
  display: none;
  background-color: #373737;
}
/* line 129, scss/_timeline-xs.scss */
.sections .section .half > div:nth-child(even) {
  padding: 65px 25px 65px 60px;
}
/* line 134, scss/_timeline-xs.scss */
.sections .section .info {
  text-align: center;
}
/* line 136, scss/_timeline-xs.scss */
.sections .section .info h3.title {
  font-family: "Roboto Slab", "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 140%;
  margin: 0 auto 20px;
  padding: 0;
}
/* line 142, scss/_timeline-xs.scss */
.sections .section .info .desc {
  font-family: "Roboto", sans-serif;
  font-size: 125%;
  margin-bottom: 10px;
  padding: 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 151, scss/_timeline-xs.scss */
.sections .section .info .media .image img {
  max-height: 90%;
  max-width: 90%;
  width: initial;
}
/* line 158, scss/_timeline-xs.scss */
.sections .section .info .media .modal-link {
  display: none;
}
/* line 160, scss/_timeline-xs.scss */
.sections .section .info .media .modal-link.video {
  position: relative;
  cursor: pointer;
  outline: none;
}
/* line 164, scss/_timeline-xs.scss */
.sections .section .info .media .modal-link.video img {
  display: block;
}
/* line 167, scss/_timeline-xs.scss */
.sections .section .info .media .modal-link.video:after, .sections .section .info .media .modal-link.video:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 174, scss/_timeline-xs.scss */
.sections .section .info .media .modal-link.video:before {
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.42);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}
/* line 183, scss/_timeline-xs.scss */
.sections .section .info .media .modal-link.video:after {
  border: 15px solid transparent;
  border-left: 18px solid #fff;
  margin-top: -15px;
  margin-left: -6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}
/* line 191, scss/_timeline-xs.scss */
.sections .section .info .media .modal-link.video:hover:after, .sections .section .info .media .modal-link.video:hover:before {
  -webkit-transform: scale(1.03, 1.03);
  -moz-transform: scale(1.03, 1.03);
  -ms-transform: scale(1.03, 1.03);
  -o-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
}
/* line 194, scss/_timeline-xs.scss */
.sections .section .info .media .modal-link.video:hover:before {
  background: rgba(0, 0, 0, 0.7);
}
/* line 203, scss/_timeline-xs.scss */
.sections .section .quotes {
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 210, scss/_timeline-xs.scss */
.sections .section .quotes .quote {
  font-size: 125%;
  margin: 0px 0px 20px 0px;
  padding: 0;
  order: 1;
  flex: 1 100%;
}
/* line 217, scss/_timeline-xs.scss */
.sections .section .quotes .quote::before, .sections .section .quotes .quote::after {
  color: #fff;
  font-size: 300%;
  line-height: 10%;
}
/* line 224, scss/_timeline-xs.scss */
.sections .section .quotes .quote::before {
  content: open-quote;
  margin-right: 0.20em;
  vertical-align: -0.3em;
}
/* line 229, scss/_timeline-xs.scss */
.sections .section .quotes .quote::after {
  content: close-quote;
  margin-left: 0.20em;
  vertical-align: -0.6em;
}
/* line 235, scss/_timeline-xs.scss */
.sections .section .quotes .author-img {
  width: 75px;
  height: 75px;
  order: 2;
  flex: 1 0 25%;
  align-self: center;
  border-radius: 50%;
}
/* line 243, scss/_timeline-xs.scss */
.sections .section .quotes .author-img img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}
/* line 251, scss/_timeline-xs.scss */
.sections .section .quotes .by-who {
  font-size: 110%;
  order: 2;
  flex: 1 0 70%;
  margin: 0px;
  align-self: center;
}
/* line 261, scss/_timeline-xs.scss */
.sections .section.time-home {
  background-color: #000000;
  color: #FFFFFF;
}
/* line 264, scss/_timeline-xs.scss */
.sections .section.time-home .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px;
}
/* line 268, scss/_timeline-xs.scss */
.sections .section.time-home .logo {
  width: 90%;
  max-width: 1200px;
  max-height: 500px;
  margin: 0 auto;
}
/* line 274, scss/_timeline-xs.scss */
.sections .section.time-home #tagline {
  font-size: 200%;
  font-family: "Roboto Slab", "Roboto", sans-serif;
  text-transform: uppercase;
  margin: 0;
}
/* line 279, scss/_timeline-xs.scss */
.sections .section.time-home #page-nav {
  display: none;
}
/* line 282, scss/_timeline-xs.scss */
.sections .section.time-home::before {
  display: none;
}

/* line 289, scss/_timeline-xs.scss */
.footer {
  padding: 15px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 85px;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 299, scss/_timeline-xs.scss */
.footer.show {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
/* line 302, scss/_timeline-xs.scss */
.footer span.copyright {
  text-transform: none;
  font-size: 105%;
}
/* line 305, scss/_timeline-xs.scss */
.footer span.copyright a,
.footer span.copyright a:focus,
.footer span.copyright a:hover,
.footer span.copyright a:active {
  text-decoration: underline;
}
/* line 313, scss/_timeline-xs.scss */
.footer ul.social-buttons {
  display: none;
  margin-bottom: 0;
}
/* line 317, scss/_timeline-xs.scss */
.footer ul.social-buttons li a {
  display: block;
  background-color: #333;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 327, scss/_timeline-xs.scss */
.footer ul.social-buttons li a:hover, .footer ul.social-buttons li a:focus, .footer ul.social-buttons li a:active {
  background-color: #000;
}

/* line 337, scss/_timeline-xs.scss */
.onepage-pagination {
  position: absolute;
  right: 0px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 347, scss/_timeline-xs.scss */
.onepage-pagination li {
  padding: 0;
  margin: 0;
  text-align: center;
}
/* line 351, scss/_timeline-xs.scss */
.onepage-pagination li a {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 20px;
  display: block;
  position: relative;
}
/* line 359, scss/_timeline-xs.scss */
.onepage-pagination li a:before {
  padding: 0;
  margin: 0;
  content: '';
  position: absolute;
  height: 6px;
  width: 6px;
  top: 50%;
  left: 50%;
  background: transparent;
  border: 3px solid rgba(255, 255, 255, 0.85);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
/* line 373, scss/_timeline-xs.scss */
.onepage-pagination li a:hover:before {
  height: 10px;
  width: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 377, scss/_timeline-xs.scss */
.onepage-pagination li a.active:before {
  padding: 0;
  margin: 0;
  margin-top: 0px;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 20px;
  border: 2px solid #fff;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

/* Timeline for Small device */
@media (min-width: 768px) {
  /* line 3, scss/_timeline-sm.scss */
  body {
    font-size: 16px;
  }

  /* line 6, scss/_timeline-sm.scss */
  .onepage-pagination {
    display: none;
  }

  /* line 10, scss/_timeline-sm.scss */
  .sections .section {
    height: 100%;
    /* Home page style */
  }
  /* line 13, scss/_timeline-sm.scss */
  .sections .section:last-child {
    margin-bottom: 0px;
  }
  /* line 19, scss/_timeline-sm.scss */
  .sections .section.point .overlay, .sections .section.main-point .overlay {
    height: 100%;
  }
  /* line 26, scss/_timeline-sm.scss */
  .sections .section.main-point .point-mark div {
    height: 120px;
    width: 120px;
  }
  /* line 32, scss/_timeline-sm.scss */
  .sections .section .half {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    overflow: hidden;
    height: 100%;
  }
  /* line 39, scss/_timeline-sm.scss */
  .sections .section .half > div {
    overflow: hidden;
    max-height: 100%;
    -webkit-align-self: center;
    -moz-align-self: center;
    align-self: center;
    -ms-flex-item-align: center;
  }
  /* line 43, scss/_timeline-sm.scss */
  .sections .section .half > div.cover-bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  /* line 47, scss/_timeline-sm.scss */
  .sections .section .half > div.cover-bg img {
    display: none;
  }
  /* line 51, scss/_timeline-sm.scss */
  .sections .section .half > div > div:nth-child(even) {
    padding-bottom: 25px;
  }
  /* line 58, scss/_timeline-sm.scss */
  .sections .section .quotes .quote {
    font-size: 160%;
  }
  /* line 65, scss/_timeline-sm.scss */
  .sections .section .info .media .modal-link {
    display: block;
  }
  /* line 67, scss/_timeline-sm.scss */
  .sections .section .info .media .modal-link.video {
    width: 50%;
    margin: 0 auto;
  }
  /* line 72, scss/_timeline-sm.scss */
  .sections .section .info .media .embed {
    display: none !important;
  }
  /* line 76, scss/_timeline-sm.scss */
  .sections .section .info .image {
    height: 50%;
    width: 50%;
    margin: 0 auto;
  }
  /* line 84, scss/_timeline-sm.scss */
  .sections .section.time-home .logo {
    width: 70%;
  }
  /* line 87, scss/_timeline-sm.scss */
  .sections .section.time-home #tagline {
    font-size: 220%;
  }
  /* line 90, scss/_timeline-sm.scss */
  .sections .section.time-home #page-nav {
    display: flex;
  }

  /* line 98, scss/_timeline-sm.scss */
  .footer span.copyright a {
    text-decoration: none;
  }
  /* line 102, scss/_timeline-sm.scss */
  .footer ul.social-buttons {
    display: block;
  }
}
/* Timeline for MD device */
@media only screen and (min-width: 992px) {
  /* line 3, scss/_timeline-md.scss */
  body {
    font-size: 16px;
  }

  /* line 6, scss/_timeline-md.scss */
  .onepage-pagination {
    display: block;
  }

  /* line 14, scss/_timeline-md.scss */
  .sections .section.point .vertical-line, .sections .section.main-point .vertical-line {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  /* line 21, scss/_timeline-md.scss */
  .sections .section.point .point-mark div:hover, .sections .section.main-point .point-mark div:hover {
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.22), 0 14px 45px rgba(0, 0, 0, 0.25);
    -webkit-transform: scale(1.03, 1.03);
    -moz-transform: scale(1.03, 1.03);
    -ms-transform: scale(1.03, 1.03);
    -o-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
  }
  /* line 25, scss/_timeline-md.scss */
  .sections .section.point .point-mark div:active, .sections .section.main-point .point-mark div:active {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
  /* line 34, scss/_timeline-md.scss */
  .sections .section.main-point .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0px;
  }
  /* line 38, scss/_timeline-md.scss */
  .sections .section.main-point .point-mark {
    position: initial;
    height: 200px;
    width: 200px;
  }
  /* line 41, scss/_timeline-md.scss */
  .sections .section.main-point .point-mark div {
    height: 200px;
    width: 200px;
    font-size: 200%;
  }
  /* line 45, scss/_timeline-md.scss */
  .sections .section.main-point .point-mark .title {
    font-size: 200%;
  }
  /* line 52, scss/_timeline-md.scss */
  .sections .section.point .point-mark {
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    height: 80px;
    width: 80px;
  }
  /* line 57, scss/_timeline-md.scss */
  .sections .section.point .point-mark div {
    height: 80px;
    width: 80px;
    font-size: 140%;
  }
  /* line 64, scss/_timeline-md.scss */
  .sections .section .half {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    height: 100%;
  }
  /* line 67, scss/_timeline-md.scss */
  .sections .section .half > div {
    padding-top: 51px;
    width: 50%;
    height: 100%;
    max-height: initial;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    flex: 1 auto;
  }
  /* line 78, scss/_timeline-md.scss */
  .sections .section .half > div.cover-bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  /* line 82, scss/_timeline-md.scss */
  .sections .section .half > div.cover-bg img {
    display: none;
  }
  /* line 87, scss/_timeline-md.scss */
  .sections .section .half > div:nth-child(odd) {
    display: inherit;
  }
  /* line 90, scss/_timeline-md.scss */
  .sections .section .half > div:nth-child(even) {
    padding: 65px 45px 10px;
  }
  /* line 97, scss/_timeline-md.scss */
  .sections .section.point:nth-child(even) .half > div:nth-child(odd) {
    order: 2;
  }
  /* line 100, scss/_timeline-md.scss */
  .sections .section.point:nth-child(even) .half > div:nth-child(even) {
    order: 1;
  }
  /* line 106, scss/_timeline-md.scss */
  .sections .section .info .desc {
    font-size: 150%;
  }
  /* line 111, scss/_timeline-md.scss */
  .sections .section .info .media .modal-link.video {
    width: initial;
    margin: 0 auto;
    max-width: 600px;
    max-height: 600px;
    text-align: center;
  }
  /* line 119, scss/_timeline-md.scss */
  .sections .section .info .media .image {
    height: initial;
    width: initial;
    margin: 0 auto;
    max-width: 600px;
    max-height: 600px;
    text-align: center;
  }
  /* line 129, scss/_timeline-md.scss */
  .sections .section .quotes .quote {
    order: 2;
    font-size: 30px;
    line-height: initial;
  }
  /* line 134, scss/_timeline-md.scss */
  .sections .section .quotes .author-img {
    order: 1;
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
  }
  /* line 139, scss/_timeline-md.scss */
  .sections .section .quotes .author-img img {
    width: 120px;
    height: 120px;
  }
  /* line 144, scss/_timeline-md.scss */
  .sections .section .quotes .by-who {
    order: 3;
  }
  /* line 149, scss/_timeline-md.scss */
  .sections .section.time-8692.main-point:before {
    height: 50%;
    top: 50%;
  }
}
/* line 3, scss/_theme.scss */
.sections .section {
  /* Home section style */
}
/* line 5, scss/_theme.scss */
.sections .section.time-home {
  background-color: #000;
  background-image: url("http://www.pbs.org/pov/blog/wp-content/uploads/2015/02/2015season-648x330.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
/* line 11, scss/_theme.scss */
.sections .section.time-home .overlay {
  /*background-color: rgba(0,0,0,0.5);*/
}
